<!DOCTYPE html>
<html>
  <head>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
	<link href="../css/jquery-ui.css" rel="stylesheet" type="text/css">
	<link href="../css/jquery-ui.theme.min.css" rel="stylesheet" type="text/css">
	
	
  </head>
  <body>
	
	
	<button id="toggle">Toggle</button>
	<button id="expand">Expand</button>
	<button id="collapse">Collapse</button>
	

	
	<script type="text/javascript" src="../js/execution.js"></script>
	<script src="../jquery-2.0.2.min.js"></script>
	<script src="../jquery-ui.min.js"></script>
	<script src="../background.js"></script>
	<script type="text/javascript">


    
  </body>
</html>
